
{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
{{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
{{ $browser := resources.Get "js/browser.min.js" }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" }}
{{ $util := resources.Get "js/util.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $demo := resources.Get "js/demo.js" }}

{{ $js := slice $jQuery $scrollex $scrolly $browser $breakpoints $util $main $demo | resources.Concat "assets/js/bundle.js" | minify }}

<!-- Scripts -->
<script src='{{ $js.RelPermalink }}'></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> -->
